<h1>New Train</h1>

<%= form_for(@train) do |form| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :current_station, 'Current station' %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit "#{@train.new_record? ? 'Create' : 'Update'}" %>
  </div>
<% end %>

<%= link_to 'Back', trains_path %>
